<md-bottom-sheet class="md-list">
  <form name="signupForm" ng-submit="signup()">
    <h3>Create Your Account</h3>
    <div layout="column">

      <md-input-container>
        <md-icon>account_circle</md-icon>
        <input type="text" ng-model="userName" md-maxlength="20" placeholder="username" required>
      </md-input-container>
      <md-input-container>
        <md-icon>email</md-icon>
        <input type="email" ng-model="email" placeholder="email" required>
      </md-input-container>

      <md-input-container>
        <md-icon>vpn_key</md-icon>
        <input type="password" ng-model="password" placeholder="password" required>
      </md-input-container>
      <md-input-container>
        <md-icon>lock</md-icon>
        <input type="password" placeholder="confirm password" required>
      </md-input-container>
    </div>
    <br>
    <div class="md-actions" layout="row">
      <md-button ng-click="close()" class="md-flat md-warn">Cancel</md-button>
      <md-button ng-click="answer" type="submit" ng-class="signupForm" class="md-flat md-primary">Sign Up</md-button>
    </div>
  </form>
</md-bottom-sheet>